[build]
target = "index.html"
dist = "dist"

[serve]
port = 8080
open = false

[[hooks]]
stage = "pre_build"
command = "cargo"
command_arguments = ["build", "--target", "wasm32-unknown-unknown", "--release"]
