name: Elm CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    container:
      image:  codesimple/elm:0.19
    
    steps:
    - uses: actions/checkout@v4
    - name: Build elm.js
      run: elm make src/Main.elm --optimize --output=build/elm.js
    - name: Copy index.html
      run: cp index.html build/
    - name: Install git
      run: apk add --no-cache git rsync
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: build
